@model IEnumerable<ChatterExample.Chat>

@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="response"></div>
<button id="getChats" class="btn btn-primary" onclick="DisplayName()">Get Chats</button>

@section Scripts {
    <script>


        //var jsonTest = { "firstName": "Bob", "lastName": "Sauce", "children": [{ "firstName": "Barbie", "age": 19 }, { "firstName": "Ron", "age": 45 }] }

        ////now some jQuery
        //$("#response").text(jsonTest.children[1].age);

//AJAX request using jQuery as a helper
   	//Notice this combines Razor syntax (@Url.Action()) in order to
   	//have the compiler figure out the exact path of the controller,
   	//alongside of jQuery.
    	@*$.get("@Url.Action("TestJson","Chats")", function (response) {
            alert(response);
    	});*@

        function DisplayName(x) {
              $.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
var jsonTest = JSON.parse(serverResponse);
        alert(jsonTest.firstName);
        $("#response").text(jsonTest.firstName);

});

        }

    </script>
}

